BasedOnStyle:                              LLVM
Language:                                  Cpp
IndentWidth:                               4
UseTab:                                    Never
BreakBeforeBraces:                         Linux
AllowShortIfStatementsOnASingleLine:       false
IndentCaseLabels:                          false
SortIncludes:                              false
ContinuationIndentWidth:                   4
ColumnLimit:                               96
AlwaysBreakBeforeMultilineStrings:         true
AllowShortLoopsOnASingleLine:              false
AllowShortFunctionsOnASingleLine:          false
AlignEscapedNewlinesLeft:                  false
AlignTrailingComments:                     true
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket:                     true
SpaceAfterCStyleCast:                      false
MaxEmptyLinesToKeep:                       2
BreakBeforeBinaryOperators:                NonAssignment
BreakStringLiterals:                       false
